<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Spring Boot Devtools</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="webjars/jquery/3.2.0/jquery.min.js"></script>
</head>
<body>
<div class="hello" th:text="${helloMessage}"></div>
<div class="index">Hello World!</div>
<div class="index" id="ajaxApi"></div>

<script type="application/javascript">
    (function ($) {
        $("#ajaxApi").load("/ajaxApi");
    }(jQuery));
</script>
</body>
</html>
